blinker
certifi
charset-normalizer
click
contourpy
cycler
flask
flask-cors
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
numba
numpy
packaging
pandas
pillow
pyparsing
pynndescent
python-dateutil
redis
requests
scikit-learn
seaborn
six
spotipy
threadpoolctl
tqdm
tzdata
umap-learn
urllib3
Werkzeug
pytz
plotly